Conectamos y cargamos la tabla con

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# Parámetros de conexión
user = "coniitic_registro"
password = "G3!+GUyN-1bXP+]x"
host = "localhost"
database = "coniitic_registro"

engine = create_engine(
    f"mysql+pymysql://{user}:{password}@{host}/{database}"
)

# Consulta (cambia el nombre si tu tabla no se llama regeventos)
query = "SELECT * FROM regeventos"

df = pd.read_sql(query, engine)

df.head()

ModuleNotFoundError: No module named 'pandas'

Una vez Conectado con el siguiente comando le decimos a ptyhon que nos muestra cuantas filas y colmnas tiene nuestra tabla.

In [7]:
df.shape

NameError: name 'df' is not defined

In [ ]:
df.info()

Obtener el número de valores nulos (missing values) por cada columna de un DataFrame.

Desglose del comando:

•	df: Es el DataFrame (tabla de datos) sobre el que estás trabajando.
•	.isnull(): Crea una máscara booleana (DataFrame con valores True/False) donde True indica que el valor es nulo (NaN, None, etc.) y False que no lo es.
•	.sum(): Suma todos los valores True (que se tratan como 1) en cada columna.

Es muy útil en análisis exploratorio de datos (EDA) para:

Identificar rápidamente qué columnas tienen datos faltantes

Decidir cómo manejar esos valores nulos (eliminarlos, imputarlos, etc.)

Evaluar la calidad de los datos antes de aplicar modelos de machine learning

Un comando similar pero con funcionalidad opuesta es df.notnull().sum(), que cuenta los valores no nulos.

In [2]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
df['qr_validado'].value_counts(dropna=False)

In [ ]:
df['qr_validado'].value_counts(normalize=True) * 100